<header>
    <nav class="navbar navbar-default primary-header navbar-fixed-top">
        <div class="container mm-container-postion">
            <div class="row">
                <div class="navbar-header">
                    <a class="navbar-brand site-logo pointer"></a>
                    <h4 class="left-line pull-left receipt-header"></h4>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-default secondary-header">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <h4>
                        <span>Login</span>
                    </h4>
                </div>
            </div>
        </div>
    </nav>
</header>